/**
 * Main menu icons.
 */

.toolbar-icon-flashpoint-flashpoint-settings-tab:before {
    background-image: url(../images/icons/787878/toolbar.svg);
}
.toolbar-icon-flashpoint-flashpoint-settings-tab:active:before,
.toolbar-icon-flashpoint-flashpoint-settings-tab.is-active:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}
