{#
/**
 * @file flashpoint_access_code_usage.html.twig
 * Default theme implementation to present Flashpoint access code usage data.
 *
 * This template is used when viewing Flashpoint access code usage pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_flashpoint_access_code_usage()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('flashpoint_access_code_usage') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
