.flashpoint-content button {
    box-shadow: unset;
    border: unset;
}

#flashpoint-course .flashpoint-content {
    display: table;
    width: 100%;
}

#flashpoint-course .flashpoint-content-icon-wrapper, #flashpoint-course .flashpoint-content-label-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#flashpoint-course .flashpoint-content-label-wrapper {
    width: 100%;
}

#flashpoint-course .flashpoint-content-label-wrapper button {
    width: 100%;
    text-align: left;
}